### IMGUR-SCREENSHOT CONFIG ####

imgur_key="486690f872c678126a2c09a9e196ce1b"
imgur_secret=""
imgur_icon_path="$HOME/Pictures/imgur.png"

logmein="false"

file_name_format="imgur-%Y_%m_%d-%H:%M:%S.png"
file_dir="$HOME/Pictures"

upload_connect_timeout="5"
upload_timeout="120"
upload_retries="1"

#edit_command="gimp %img"
open_command="firefox %url"

log_file="$HOME/.imgur-screenshot.log"

copy_url="true"
keep_file="true"
check_update="true"

######### END CONFIG ###########
